In [1]:
import pandas as pd
import numpy as np

# Asegúrate de realizar los siguientes pasos:

- Explora y carga ambos conjuntos de datos en pandas DataFrames.
- Identifica las columnas comunes entre los dos conjuntos de datos.
- Utiliza el método de unión de Pandas que consideres más adecuado para combinar los datos de ambos años en un solo DataFrame.
- Explica por qué elegiste ese método de unión y cómo se llevaron a cabo los pasos anteriores.

In [2]:
word_1 = pd.read_csv("word-data-2023_part1.csv", index_col=0)
word_1

,Country,Density\n(P/Km2),Abbreviation,Agricultural Land( %),Land Area(Km2),Armed Forces size,Birth Rate,Calling Code,Capital/Major City,Co2-Emissions,CPI,CPI Change (%),Currency-Code,Fertility Rate,Forested Area (%),Gasoline Price
0,Afghanistan,60,AF,58.10%,"652,230","323,000",32.49,93.0,Kabul,"8,672",149.9,2.30%,AFN,4.47,2.10%,$0.70
1,Albania,105,AL,43.10%,"28,748","9,000",11.78,355.0,Tirana,"4,536",119.05,1.40%,ALL,1.62,28.10%,$1.36
2,Algeria,18,DZ,17.40%,"2,381,741","317,000",24.28,213.0,Algiers,"150,006",151.36,2.00%,DZD,3.02,0.80%,$0.28
3,Andorra,164,AD,40.00%,468,NaN,7.20,376.0,Andorra la Vella,469,NaN,NaN,EUR,1.27,34.00%,$1.51
4,Angola,26,AO,47.50%,"1,246,700","117,000",40.73,244.0,Luanda,"34,693",261.73,17.10%,AOA,5.52,46.30%,$0.97
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
190,Venezuela,32,VE,24.50%,"912,050","343,000",17.88,58.0,Caracas,"164,175","2,740.27",254.90%,VED,2.27,52.70%,$0.00
191,Vietnam,314,VN,39.30%,"331,210","522,000",16.75,84.0,Hanoi,"192,668",163.52,2.80%,VND,2.05,48.10%,$0.80
192,Yemen,56,YE,44.60%,"527,968","40,000",30.45,967.0,Sanaa,"10,609",157.58,8.10%,YER,3.79,1.00%,$0.92
193,Zambia,25,ZM,32.10%,"752,618","16,000",36.19,260.0,Lusaka,"5,141",212.31,9.20%,ZMW,4.63,65.20%,$1.40
194,Zimbabwe,38,ZW,41.90%,"390,757","51,000",30.68,263.0,Harare,"10,983",105.51,0.90%,NaN,3.62,35.50%,$1.34

In [3]:
word_1.columns

Index(['Country', 'Density\n(P/Km2)', 'Abbreviation', 'Agricultural Land( %)',
       'Land Area(Km2)', 'Armed Forces size', 'Birth Rate', 'Calling Code',
       'Capital/Major City', 'Co2-Emissions', 'CPI', 'CPI Change (%)',
       'Currency-Code', 'Fertility Rate', 'Forested Area (%)',
       'Gasoline Price'],
      dtype='object')

In [4]:
word_2 = pd.read_csv("world-data-2023_part2.csv", index_col=0)
word_2

,GDP,Gross primary education enrollment (%),Gross tertiary education enrollment (%),Infant mortality,Largest city,Life expectancy,Maternal mortality ratio,Minimum wage,Official language,Out of pocket health expenditure,Physicians per thousand,Population,Population: Labor force participation (%),Tax revenue (%),Total tax rate,Unemployment rate,Urban_population,country,coordinates
0,"$19,101,353,833",104.00%,9.70%,47.9,Kabul,64.5,638.0,$0.43,Pashto,78.40%,0.28,"38,041,754",48.90%,9.30%,71.40%,11.12%,"9,797,273",Afghanistan,"('33.93911 ', '67.709953')"
1,"$15,278,077,447",107.00%,55.00%,7.8,Tirana,78.5,15.0,$1.12,Albanian,56.90%,1.20,"2,854,191",55.70%,18.60%,36.60%,12.33%,"1,747,593",Albania,"('41.153332 ', '20.168331')"
2,"$169,988,236,398",109.90%,51.40%,20.1,Algiers,76.7,112.0,$0.95,Arabic,28.10%,1.72,"43,053,054",41.20%,37.20%,66.10%,11.70%,"31,510,100",Algeria,"('28.033886 ', '1.659626')"
3,"$3,154,057,987",106.40%,NaN,2.7,Andorra la Vella,NaN,NaN,$6.63,Catalan,36.40%,3.33,"77,142",NaN,NaN,NaN,NaN,"67,873",Andorra,"('42.506285 ', '1.521801')"
4,"$94,635,415,870",113.50%,9.30%,51.6,Luanda,60.8,241.0,$0.71,Portuguese,33.40%,0.21,"31,825,295",77.50%,9.20%,49.10%,6.89%,"21,061,025",Angola,"('-11.202692 ', '17.873887')"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
190,"$482,359,318,768",97.20%,79.30%,21.4,Caracas,72.1,125.0,$0.01,Spanish,45.80%,1.92,"28,515,829",59.70%,NaN,73.30%,8.80%,"25,162,368",Venezuela,"('6.42375 ', '-66.58973')"
191,"$261,921,244,843",110.60%,28.50%,16.5,Ho Chi Minh City,75.3,43.0,$0.73,Vietnamese,43.50%,0.82,"96,462,106",77.40%,19.10%,37.60%,2.01%,"35,332,140",Vietnam,"('14.058324 ', '108.277199')"
192,"$26,914,402,224",93.60%,10.20%,42.9,Sanaa,66.1,164.0,NaN,Arabic,81.00%,0.31,"29,161,922",38.00%,NaN,26.60%,12.91%,"10,869,523",Yemen,"('15.552727 ', '48.516388')"
193,"$23,064,722,446",98.70%,4.10%,40.4,Lusaka,63.5,213.0,$0.24,English,27.50%,1.19,"17,861,030",74.60%,16.20%,15.60%,11.43%,"7,871,713",Zambia,"('-13.133897 ', '27.849332')"
194,"$21,440,758,800",109.90%,10.00%,33.9,Harare,61.2,458.0,NaN,Shona,25.80%,0.21,"14,645,468",83.10%,20.70%,31.60%,4.95%,"4,717,305",Zimbabwe,"('-19.015438 ', '29.154857')"

In [5]:
word_2.columns

Index(['GDP', 'Gross primary education enrollment (%)',
       'Gross tertiary education enrollment (%)', 'Infant mortality',
       'Largest city', 'Life expectancy', 'Maternal mortality ratio',
       'Minimum wage', 'Official language', 'Out of pocket health expenditure',
       'Physicians per thousand', 'Population',
       'Population: Labor force participation (%)', 'Tax revenue (%)',
       'Total tax rate', 'Unemployment rate', 'Urban_population', 'country',
       'coordinates'],
      dtype='object')

In [6]:
columnas_comunes = word_1.columns.intersection(word_2.columns)
columnas_comunes.tolist()

[]

In [7]:
df_union = pd.concat([word_1, word_2], axis=1)
df_union

,Country,Density\n(P/Km2),Abbreviation,Agricultural Land( %),Land Area(Km2),Armed Forces size,Birth Rate,Calling Code,Capital/Major City,Co2-Emissions,...,Out of pocket health expenditure,Physicians per thousand,Population,Population: Labor force participation (%),Tax revenue (%),Total tax rate,Unemployment rate,Urban_population,country,coordinates
0,Afghanistan,60,AF,58.10%,"652,230","323,000",32.49,93.0,Kabul,"8,672",...,78.40%,0.28,"38,041,754",48.90%,9.30%,71.40%,11.12%,"9,797,273",Afghanistan,"('33.93911 ', '67.709953')"
1,Albania,105,AL,43.10%,"28,748","9,000",11.78,355.0,Tirana,"4,536",...,56.90%,1.20,"2,854,191",55.70%,18.60%,36.60%,12.33%,"1,747,593",Albania,"('41.153332 ', '20.168331')"
2,Algeria,18,DZ,17.40%,"2,381,741","317,000",24.28,213.0,Algiers,"150,006",...,28.10%,1.72,"43,053,054",41.20%,37.20%,66.10%,11.70%,"31,510,100",Algeria,"('28.033886 ', '1.659626')"
3,Andorra,164,AD,40.00%,468,NaN,7.20,376.0,Andorra la Vella,469,...,36.40%,3.33,"77,142",NaN,NaN,NaN,NaN,"67,873",Andorra,"('42.506285 ', '1.521801')"
4,Angola,26,AO,47.50%,"1,246,700","117,000",40.73,244.0,Luanda,"34,693",...,33.40%,0.21,"31,825,295",77.50%,9.20%,49.10%,6.89%,"21,061,025",Angola,"('-11.202692 ', '17.873887')"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
190,Venezuela,32,VE,24.50%,"912,050","343,000",17.88,58.0,Caracas,"164,175",...,45.80%,1.92,"28,515,829",59.70%,NaN,73.30%,8.80%,"25,162,368",Venezuela,"('6.42375 ', '-66.58973')"
191,Vietnam,314,VN,39.30%,"331,210","522,000",16.75,84.0,Hanoi,"192,668",...,43.50%,0.82,"96,462,106",77.40%,19.10%,37.60%,2.01%,"35,332,140",Vietnam,"('14.058324 ', '108.277199')"
192,Yemen,56,YE,44.60%,"527,968","40,000",30.45,967.0,Sanaa,"10,609",...,81.00%,0.31,"29,161,922",38.00%,NaN,26.60%,12.91%,"10,869,523",Yemen,"('15.552727 ', '48.516388')"
193,Zambia,25,ZM,32.10%,"752,618","16,000",36.19,260.0,Lusaka,"5,141",...,27.50%,1.19,"17,861,030",74.60%,16.20%,15.60%,11.43%,"7,871,713",Zambia,"('-13.133897 ', '27.849332')"
194,Zimbabwe,38,ZW,41.90%,"390,757","51,000",30.68,263.0,Harare,"10,983",...,25.80%,0.21,"14,645,468",83.10%,20.70%,31.60%,4.95%,"4,717,305",Zimbabwe,"('-19.015438 ', '29.154857')"

In [8]:
df_union.columns

Index(['Country', 'Density\n(P/Km2)', 'Abbreviation', 'Agricultural Land( %)',
       'Land Area(Km2)', 'Armed Forces size', 'Birth Rate', 'Calling Code',
       'Capital/Major City', 'Co2-Emissions', 'CPI', 'CPI Change (%)',
       'Currency-Code', 'Fertility Rate', 'Forested Area (%)',
       'Gasoline Price', 'GDP', 'Gross primary education enrollment (%)',
       'Gross tertiary education enrollment (%)', 'Infant mortality',
       'Largest city', 'Life expectancy', 'Maternal mortality ratio',
       'Minimum wage', 'Official language', 'Out of pocket health expenditure',
       'Physicians per thousand', 'Population',
       'Population: Labor force participation (%)', 'Tax revenue (%)',
       'Total tax rate', 'Unemployment rate', 'Urban_population', 'country',
       'coordinates'],
      dtype='object')

# Ejercicios de limpieza

In [9]:
# 1. Después de la unión de datos, tenemos dos columnas de "country". Elimina una de ellas.
df_total = df_union.drop(columns='country')
df_total

,Country,Density\n(P/Km2),Abbreviation,Agricultural Land( %),Land Area(Km2),Armed Forces size,Birth Rate,Calling Code,Capital/Major City,Co2-Emissions,...,Official language,Out of pocket health expenditure,Physicians per thousand,Population,Population: Labor force participation (%),Tax revenue (%),Total tax rate,Unemployment rate,Urban_population,coordinates
0,Afghanistan,60,AF,58.10%,"652,230","323,000",32.49,93.0,Kabul,"8,672",...,Pashto,78.40%,0.28,"38,041,754",48.90%,9.30%,71.40%,11.12%,"9,797,273","('33.93911 ', '67.709953')"
1,Albania,105,AL,43.10%,"28,748","9,000",11.78,355.0,Tirana,"4,536",...,Albanian,56.90%,1.20,"2,854,191",55.70%,18.60%,36.60%,12.33%,"1,747,593","('41.153332 ', '20.168331')"
2,Algeria,18,DZ,17.40%,"2,381,741","317,000",24.28,213.0,Algiers,"150,006",...,Arabic,28.10%,1.72,"43,053,054",41.20%,37.20%,66.10%,11.70%,"31,510,100","('28.033886 ', '1.659626')"
3,Andorra,164,AD,40.00%,468,NaN,7.20,376.0,Andorra la Vella,469,...,Catalan,36.40%,3.33,"77,142",NaN,NaN,NaN,NaN,"67,873","('42.506285 ', '1.521801')"
4,Angola,26,AO,47.50%,"1,246,700","117,000",40.73,244.0,Luanda,"34,693",...,Portuguese,33.40%,0.21,"31,825,295",77.50%,9.20%,49.10%,6.89%,"21,061,025","('-11.202692 ', '17.873887')"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
190,Venezuela,32,VE,24.50%,"912,050","343,000",17.88,58.0,Caracas,"164,175",...,Spanish,45.80%,1.92,"28,515,829",59.70%,NaN,73.30%,8.80%,"25,162,368","('6.42375 ', '-66.58973')"
191,Vietnam,314,VN,39.30%,"331,210","522,000",16.75,84.0,Hanoi,"192,668",...,Vietnamese,43.50%,0.82,"96,462,106",77.40%,19.10%,37.60%,2.01%,"35,332,140","('14.058324 ', '108.277199')"
192,Yemen,56,YE,44.60%,"527,968","40,000",30.45,967.0,Sanaa,"10,609",...,Arabic,81.00%,0.31,"29,161,922",38.00%,NaN,26.60%,12.91%,"10,869,523","('15.552727 ', '48.516388')"
193,Zambia,25,ZM,32.10%,"752,618","16,000",36.19,260.0,Lusaka,"5,141",...,English,27.50%,1.19,"17,861,030",74.60%,16.20%,15.60%,11.43%,"7,871,713","('-13.133897 ', '27.849332')"
194,Zimbabwe,38,ZW,41.90%,"390,757","51,000",30.68,263.0,Harare,"10,983",...,Shona,25.80%,0.21,"14,645,468",83.10%,20.70%,31.60%,4.95%,"4,717,305","('-19.015438 ', '29.154857')"

In [ ]:
# 2. Los nombres de las columnas no son homogeneos. Cambia los nombres de las columnas de tal forma que:
# No tengan espacios.
# Estén en minúscula.
# No tengan paréntesis, es decir, quitar "(%)", "(Km2)".
# Algunas columnas tiene "\n". Eliminalos de los nombres de las columnas.
# Algunas columnas tienen ":". Eliminalos de los nombres de las columnas.

In [10]:
df_total.columns = (
    df_total.columns
    .str.strip()           # Eliminar espacios al inicio y al final
    .str.lower()           # Convertir a minúsculas
    .str.replace(r'\s+', '_', regex=True)  # Reemplazar espacios con guiones bajos
    .str.replace(r'[%()"\n:]', '', regex=True))  # Eliminar caracteres no deseados

In [11]:
df_total

,country,density_p/km2,abbreviation,agricultural_land_,land_areakm2,armed_forces_size,birth_rate,calling_code,capital/major_city,co2-emissions,...,official_language,out_of_pocket_health_expenditure,physicians_per_thousand,population,population_labor_force_participation_,tax_revenue_,total_tax_rate,unemployment_rate,urban_population,coordinates
0,Afghanistan,60,AF,58.10%,"652,230","323,000",32.49,93.0,Kabul,"8,672",...,Pashto,78.40%,0.28,"38,041,754",48.90%,9.30%,71.40%,11.12%,"9,797,273","('33.93911 ', '67.709953')"
1,Albania,105,AL,43.10%,"28,748","9,000",11.78,355.0,Tirana,"4,536",...,Albanian,56.90%,1.20,"2,854,191",55.70%,18.60%,36.60%,12.33%,"1,747,593","('41.153332 ', '20.168331')"
2,Algeria,18,DZ,17.40%,"2,381,741","317,000",24.28,213.0,Algiers,"150,006",...,Arabic,28.10%,1.72,"43,053,054",41.20%,37.20%,66.10%,11.70%,"31,510,100","('28.033886 ', '1.659626')"
3,Andorra,164,AD,40.00%,468,NaN,7.20,376.0,Andorra la Vella,469,...,Catalan,36.40%,3.33,"77,142",NaN,NaN,NaN,NaN,"67,873","('42.506285 ', '1.521801')"
4,Angola,26,AO,47.50%,"1,246,700","117,000",40.73,244.0,Luanda,"34,693",...,Portuguese,33.40%,0.21,"31,825,295",77.50%,9.20%,49.10%,6.89%,"21,061,025","('-11.202692 ', '17.873887')"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
190,Venezuela,32,VE,24.50%,"912,050","343,000",17.88,58.0,Caracas,"164,175",...,Spanish,45.80%,1.92,"28,515,829",59.70%,NaN,73.30%,8.80%,"25,162,368","('6.42375 ', '-66.58973')"
191,Vietnam,314,VN,39.30%,"331,210","522,000",16.75,84.0,Hanoi,"192,668",...,Vietnamese,43.50%,0.82,"96,462,106",77.40%,19.10%,37.60%,2.01%,"35,332,140","('14.058324 ', '108.277199')"
192,Yemen,56,YE,44.60%,"527,968","40,000",30.45,967.0,Sanaa,"10,609",...,Arabic,81.00%,0.31,"29,161,922",38.00%,NaN,26.60%,12.91%,"10,869,523","('15.552727 ', '48.516388')"
193,Zambia,25,ZM,32.10%,"752,618","16,000",36.19,260.0,Lusaka,"5,141",...,English,27.50%,1.19,"17,861,030",74.60%,16.20%,15.60%,11.43%,"7,871,713","('-13.133897 ', '27.849332')"
194,Zimbabwe,38,ZW,41.90%,"390,757","51,000",30.68,263.0,Harare,"10,983",...,Shona,25.80%,0.21,"14,645,468",83.10%,20.70%,31.60%,4.95%,"4,717,305","('-19.015438 ', '29.154857')"

In [12]:
# 3. La columnas coordinates tiene la latitud y la longitud en una sola columna. 
# Crea dos columnas nuevas, una con la longitud y otra con la latitud. Una vez hecho, elimina la columna de coordinates.
df_total[['latitud', 'longitud']] = df_total['coordinates'].str.split(', ', expand = True)

In [ ]:
# Eliminar espacios en blanco y caracteres no deseados
df_total['latitud'] = df_total['latitud'].str.strip()
df_total['longitud'] = df_total['longitud'].str.strip()
# Quitar parentisis, comillas
df_total['latitud'] = df_total['latitud'].str.replace(r"[()']", '', regex=True)
df_total['longitud'] = df_total['longitud'].str.replace(r"[()']", '', regex=True)

In [18]:
# Convertir a tipo nunerico
df_total['latitud'] = pd.to_numeric(df_total['latitud'], errors='coerce')
df_total['longitud'] = pd.to_numeric(df_total['longitud'], errors='coerce')

In [19]:
df_total

,country,density_p/km2,abbreviation,agricultural_land_,land_areakm2,armed_forces_size,birth_rate,calling_code,capital/major_city,co2-emissions,...,physicians_per_thousand,population,population_labor_force_participation_,tax_revenue_,total_tax_rate,unemployment_rate,urban_population,coordinates,latitud,longitud
0,Afghanistan,60,AF,58.10%,"652,230","323,000",32.49,93.0,Kabul,"8,672",...,0.28,"38,041,754",48.90%,9.30%,71.40%,11.12%,"9,797,273","('33.93911 ', '67.709953')",33.939110,67.709953
1,Albania,105,AL,43.10%,"28,748","9,000",11.78,355.0,Tirana,"4,536",...,1.20,"2,854,191",55.70%,18.60%,36.60%,12.33%,"1,747,593","('41.153332 ', '20.168331')",41.153332,20.168331
2,Algeria,18,DZ,17.40%,"2,381,741","317,000",24.28,213.0,Algiers,"150,006",...,1.72,"43,053,054",41.20%,37.20%,66.10%,11.70%,"31,510,100","('28.033886 ', '1.659626')",28.033886,1.659626
3,Andorra,164,AD,40.00%,468,NaN,7.20,376.0,Andorra la Vella,469,...,3.33,"77,142",NaN,NaN,NaN,NaN,"67,873","('42.506285 ', '1.521801')",42.506285,1.521801
4,Angola,26,AO,47.50%,"1,246,700","117,000",40.73,244.0,Luanda,"34,693",...,0.21,"31,825,295",77.50%,9.20%,49.10%,6.89%,"21,061,025","('-11.202692 ', '17.873887')",-11.202692,17.873887
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
190,Venezuela,32,VE,24.50%,"912,050","343,000",17.88,58.0,Caracas,"164,175",...,1.92,"28,515,829",59.70%,NaN,73.30%,8.80%,"25,162,368","('6.42375 ', '-66.58973')",6.423750,-66.589730
191,Vietnam,314,VN,39.30%,"331,210","522,000",16.75,84.0,Hanoi,"192,668",...,0.82,"96,462,106",77.40%,19.10%,37.60%,2.01%,"35,332,140","('14.058324 ', '108.277199')",14.058324,108.277199
192,Yemen,56,YE,44.60%,"527,968","40,000",30.45,967.0,Sanaa,"10,609",...,0.31,"29,161,922",38.00%,NaN,26.60%,12.91%,"10,869,523","('15.552727 ', '48.516388')",15.552727,48.516388
193,Zambia,25,ZM,32.10%,"752,618","16,000",36.19,260.0,Lusaka,"5,141",...,1.19,"17,861,030",74.60%,16.20%,15.60%,11.43%,"7,871,713","('-13.133897 ', '27.849332')",-13.133897,27.849332
194,Zimbabwe,38,ZW,41.90%,"390,757","51,000",30.68,263.0,Harare,"10,983",...,0.21,"14,645,468",83.10%,20.70%,31.60%,4.95%,"4,717,305","('-19.015438 ', '29.154857')",-19.015438,29.154857

In [20]:
df_total1 = df_total.drop(columns='coordinates')

In [21]:
df_total1

,country,density_p/km2,abbreviation,agricultural_land_,land_areakm2,armed_forces_size,birth_rate,calling_code,capital/major_city,co2-emissions,...,out_of_pocket_health_expenditure,physicians_per_thousand,population,population_labor_force_participation_,tax_revenue_,total_tax_rate,unemployment_rate,urban_population,latitud,longitud
0,Afghanistan,60,AF,58.10%,"652,230","323,000",32.49,93.0,Kabul,"8,672",...,78.40%,0.28,"38,041,754",48.90%,9.30%,71.40%,11.12%,"9,797,273",33.939110,67.709953
1,Albania,105,AL,43.10%,"28,748","9,000",11.78,355.0,Tirana,"4,536",...,56.90%,1.20,"2,854,191",55.70%,18.60%,36.60%,12.33%,"1,747,593",41.153332,20.168331
2,Algeria,18,DZ,17.40%,"2,381,741","317,000",24.28,213.0,Algiers,"150,006",...,28.10%,1.72,"43,053,054",41.20%,37.20%,66.10%,11.70%,"31,510,100",28.033886,1.659626
3,Andorra,164,AD,40.00%,468,NaN,7.20,376.0,Andorra la Vella,469,...,36.40%,3.33,"77,142",NaN,NaN,NaN,NaN,"67,873",42.506285,1.521801
4,Angola,26,AO,47.50%,"1,246,700","117,000",40.73,244.0,Luanda,"34,693",...,33.40%,0.21,"31,825,295",77.50%,9.20%,49.10%,6.89%,"21,061,025",-11.202692,17.873887
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
190,Venezuela,32,VE,24.50%,"912,050","343,000",17.88,58.0,Caracas,"164,175",...,45.80%,1.92,"28,515,829",59.70%,NaN,73.30%,8.80%,"25,162,368",6.423750,-66.589730
191,Vietnam,314,VN,39.30%,"331,210","522,000",16.75,84.0,Hanoi,"192,668",...,43.50%,0.82,"96,462,106",77.40%,19.10%,37.60%,2.01%,"35,332,140",14.058324,108.277199
192,Yemen,56,YE,44.60%,"527,968","40,000",30.45,967.0,Sanaa,"10,609",...,81.00%,0.31,"29,161,922",38.00%,NaN,26.60%,12.91%,"10,869,523",15.552727,48.516388
193,Zambia,25,ZM,32.10%,"752,618","16,000",36.19,260.0,Lusaka,"5,141",...,27.50%,1.19,"17,861,030",74.60%,16.20%,15.60%,11.43%,"7,871,713",-13.133897,27.849332
194,Zimbabwe,38,ZW,41.90%,"390,757","51,000",30.68,263.0,Harare,"10,983",...,25.80%,0.21,"14,645,468",83.10%,20.70%,31.60%,4.95%,"4,717,305",-19.015438,29.154857

In [30]:
df_total1.columns

Index(['country', 'density_p/km2', 'abbreviation', 'agricultural_land_',
       'land_areakm2', 'armed_forces_size', 'birth_rate', 'calling_code',
       'capital/major_city', 'co2-emissions', 'cpi', 'cpi_change_',
       'currency-code', 'fertility_rate', 'forested_area_', 'gasoline_price',
       'gdp', 'gross_primary_education_enrollment_',
       'gross_tertiary_education_enrollment_', 'infant_mortality',
       'largest_city', 'life_expectancy', 'maternal_mortality_ratio',
       'minimum_wage', 'official_language', 'out_of_pocket_health_expenditure',
       'physicians_per_thousand', 'population',
       'population_labor_force_participation_', 'tax_revenue_',
       'total_tax_rate', 'unemployment_rate', 'urban_population', 'latitud',
       'longitud'],
      dtype='object')

In [ ]:
# 4. Las columnas unemployment_rate, total_tax_rate, tax_revenue, population_labor_force_participation, out_of_pocket_health_expenditure, 
# gross_tertiary_education_enrollment, gross_primary_education_enrollment, forested_area, cpi_change, agricultural_land tienen "%". 
# Elimina los "%" de los valores de las columnas.

In [29]:
columnas_a_limpair = [
    'unemployment_rate', 'total_tax_rate', 'tax_revenue_',
    'population_labor_force_participation_', 'out_of_pocket_health_expenditure',
    'gross_tertiary_education_enrollment_', 'gross_primary_education_enrollment_',
    'forested_area_', 'cpi_change_', 'agricultural_land_'
]

# Eliminar el % de las columnas
for column in columnas_a_limpair:
    df_total1[column] = df_total1[column].str.replace('%', '', regex=False)

In [31]:
# 5. Haz lo mismo para las columnas de gasoline_price, gdp, minimum_wage, pero eliminando "$".

columnas_a_limpiar_2 = ['gasoline_price', 'gdp', 'minimum_wage']

for column in columnas_a_limpiar_2:
    df_total1[column] = df_total1[column].str.replace('$', '', regex=False)

In [ ]:
# 6. Guarda el DataFrame para usarlo posteriormente.

In [33]:
df_total1.to_csv('datos_limpios.csv', index=True)

# Ejercicios de Filtrado

In [ ]:
# 1. Encuentra todos los países cuya mortalidad infantil esté entre 40 y 50 personas por kilómetro cuadrado.

In [34]:
df_total1[(df_total1['infant_mortality'] >= 40) & (df_total1['infant_mortality'] <= 50)]

,country,density_p/km2,abbreviation,agricultural_land_,land_areakm2,armed_forces_size,birth_rate,calling_code,capital/major_city,co2-emissions,...,out_of_pocket_health_expenditure,physicians_per_thousand,population,population_labor_force_participation_,tax_revenue_,total_tax_rate,unemployment_rate,urban_population,latitud,longitud
0,Afghanistan,60,AF,58.10,"652,230","323,000",32.49,93.0,Kabul,"8,672",...,78.40,0.28,"38,041,754",48.90,9.30,71.40,11.12,"9,797,273",33.939110,67.709953
26,Burkina Faso,76,BF,44.20,"274,200","11,000",37.93,226.0,Ouagadougou,"3,418",...,36.10,0.08,"20,321,378",66.40,15.00,41.30,6.26,"6,092,349",12.238333,-1.561593
27,Burundi,463,BI,79.20,"27,830","31,000",39.01,257.0,Bujumbura,495,...,19.10,0.10,"11,530,580",79.20,13.60,41.20,1.43,"1,541,177",-3.373056,29.918886
47,Djibouti,43,DJ,73.40,"23,200","13,000",21.47,253.0,Djibouti City,620,...,20.40,0.22,"973,560",60.20,NaN,37.90,10.30,"758,549",11.825138,42.590275
72,Haiti,414,HT,66.80,"27,750",0,24.35,509.0,Port-au-Prince,"2,978",...,36.30,0.23,"11,263,077",67.20,NaN,42.70,13.78,"6,328,948",18.971187,-72.285215
89,Kiribati,147,KI,42.00,811,NaN,27.89,686.0,South Tarawa,66,...,0.20,0.20,"117,606",NaN,22.00,32.70,NaN,"64,489",1.836898,-157.376832
125,Niger,19,NE,36.10,"1,267,000","10,000",46.08,227.0,Niamey,"2,017",...,52.30,0.04,"23,310,715",72.00,11.80,47.20,0.47,"3,850,231",17.607789,8.081666
166,Sudan,25,SD,28.70,"1,861,484","124,000",32.18,249.0,Khartoum,"20,000",...,63.20,0.26,"42,813,238",48.40,8.00,45.40,16.53,"14,957,233",12.862807,30.217636
175,Togo,152,TG,70.20,"56,785","10,000",33.11,228.0,Lom�,"3,000",...,51.00,0.08,"8,082,366",77.60,16.90,48.20,2.04,"3,414,638",8.619543,0.824782
192,Yemen,56,YE,44.60,"527,968","40,000",30.45,967.0,Sanaa,"10,609",...,81.00,0.31,"29,161,922",38.00,NaN,26.60,12.91,"10,869,523",15.552727,48.516388
193,Zambia,25,ZM,32.10,"752,618","16,000",36.19,260.0,Lusaka,"5,141",...,27.50,1.19,"17,861,030",74.60,16.20,15.60,11.43,"7,871,713",-13.133897,27.849332

In [35]:
# 2. Encuentra los países cuyas tasas de natalidad son mayores o iguales a 20 y su esperanza de vida es mayor de 75 años.

df_total1[(df_total1['birth_rate'] >= 20) & (df_total1['life_expectancy'] > 75)]

,country,density_p/km2,abbreviation,agricultural_land_,land_areakm2,armed_forces_size,birth_rate,calling_code,capital/major_city,co2-emissions,...,out_of_pocket_health_expenditure,physicians_per_thousand,population,population_labor_force_participation_,tax_revenue_,total_tax_rate,unemployment_rate,urban_population,latitud,longitud
2,Algeria,18,DZ,17.40,"2,381,741","317,000",24.28,213.0,Algiers,"150,006",...,28.10,1.72,"43,053,054",41.20,37.20,66.10,11.70,"31,510,100",28.033886,1.659626
74,Honduras,89,HN,28.90,"112,090","23,000",21.60,504.0,Tegucigalpa,"9,813",...,49.10,0.31,"9,746,117",68.80,17.30,39.10,5.39,"5,626,433",15.199999,-86.241905
82,Israel,400,IL,24.60,"20,770","178,000",20.80,972.0,Jerusalem,"65,166",...,24.40,4.62,"9,053,300",64.00,23.10,25.30,3.86,"8,374,393",31.046051,34.851612

In [41]:
# 3. Encuentra las ciudades cuyos paises contienen la palabra "la" en su nombre.
df_total1['country'].str.contains('la')

0      False
1      False
2      False
3      False
4       True
       ...
190     True
191    False
192    False
193    False
194    False
Name: country, Length: 195, dtype: bool

In [39]:
# 4. Encuentra los países cuyos medicos por cada 1000 habitantes (physicians_per_thousand) sea mayores de 5.
df_total1[df_total1['physicians_per_thousand'] > 5]

,country,density_p/km2,abbreviation,agricultural_land_,land_areakm2,armed_forces_size,birth_rate,calling_code,capital/major_city,co2-emissions,...,out_of_pocket_health_expenditure,physicians_per_thousand,population,population_labor_force_participation_,tax_revenue_,total_tax_rate,unemployment_rate,urban_population,latitud,longitud
9,Austria,109,AT,32.40,"83,871","21,000",9.70,43.0,Vienna,"61,448",...,17.90,5.17,"8,877,067",60.70,25.40,51.40,4.67,"5,194,416",47.516231,14.550072
15,Belarus,47,BY,42.00,"207,600","155,000",9.90,375.0,Minsk,"58,280",...,34.50,5.19,"9,466,856",64.10,14.70,53.30,4.59,"7,482,982",53.709807,27.953389
42,Cuba,106,CU,59.90,"110,860","76,000",10.17,53.0,Havana,"28,284",...,NaN,8.42,"11,333,483",53.60,NaN,NaN,1.64,"8,739,135",21.521757,-77.781167
63,Georgia,57,GE,34.50,"69,700","26,000",13.47,995.0,Tbilisi,"10,128",...,57.30,7.12,"3,720,382",68.30,21.70,9.90,14.40,"2,196,476",42.315407,43.356892
66,Greece,81,GR,47.60,"131,957","146,000",8.10,30.0,Athens,"62,434",...,35.50,5.48,"10,716,322",51.80,26.20,51.90,17.24,"8,507,474",39.074208,21.824312
99,Lithuania,43,LT,47.20,"65,300","34,000",10.00,370.0,Vilnius,"12,963",...,32.10,6.35,"2,786,844",61.60,16.90,42.60,6.35,"1,891,013",55.169438,23.881275
113,Monaco,"26,337",MC,NaN,2,NaN,5.90,377.0,Monaco City,NaN,...,6.10,6.56,"38,964",NaN,NaN,NaN,NaN,"38,964",43.738418,7.424616
140,Portugal,111,PT,39.50,"92,212","52,000",8.50,351.0,Lisbon,"48,742",...,27.70,5.12,"10,269,417",58.80,22.80,39.80,6.33,"6,753,579",39.399872,-8.224454
149,San Marino,566,SM,16.70,61,NaN,6.80,378.0,City of San Marino,NaN,...,18.30,6.11,"33,860",NaN,18.10,36.20,NaN,"32,969",43.942360,12.457777
187,Uruguay,20,UY,82.60,"176,215","22,000",13.86,598.0,Montevideo,"6,766",...,16.20,5.05,"3,461,734",64.00,20.10,41.80,8.73,"3,303,394",-32.522779,-55.765835

In [40]:
# 5. Encuentra los países cuyatasa de fertilidad sea mayor a 6.
df_total1[df_total1['fertility_rate'] > 6]

,country,density_p/km2,abbreviation,agricultural_land_,land_areakm2,armed_forces_size,birth_rate,calling_code,capital/major_city,co2-emissions,...,out_of_pocket_health_expenditure,physicians_per_thousand,population,population_labor_force_participation_,tax_revenue_,total_tax_rate,unemployment_rate,urban_population,latitud,longitud
125,Niger,19,NE,36.10,"1,267,000","10,000",46.08,227.0,Niamey,"2,017",...,52.30,0.04,"23,310,715",72.00,11.80,47.20,0.47,"3,850,231",17.607789,8.081666
160,Somalia,25,SO,70.30,"637,657","20,000",41.75,252.0,Mogadishu,645,...,NaN,0.02,"15,442,905",47.40,0.00,NaN,11.35,"7,034,861",5.152149,46.199616

In [43]:
# 6. Encuentra los países cuya moneda es el euro (EUR) y tienen una tasa de natalidad superior al promedio.
df_total1[df_total1['currency-code'] == 'EUR']

,country,density_p/km2,abbreviation,agricultural_land_,land_areakm2,armed_forces_size,birth_rate,calling_code,capital/major_city,co2-emissions,...,out_of_pocket_health_expenditure,physicians_per_thousand,population,population_labor_force_participation_,tax_revenue_,total_tax_rate,unemployment_rate,urban_population,latitud,longitud
3,Andorra,164,AD,40.00,468,NaN,7.20,376.0,Andorra la Vella,469,...,36.40,3.33,"77,142",NaN,NaN,NaN,NaN,"67,873",42.506285,1.521801
9,Austria,109,AT,32.40,"83,871","21,000",9.70,43.0,Vienna,"61,448",...,17.90,5.17,"8,877,067",60.70,25.40,51.40,4.67,"5,194,416",47.516231,14.550072
16,Belgium,383,BE,44.60,"30,528","32,000",10.30,32.0,City of Brussels,"96,889",...,17.60,3.07,"11,484,055",53.60,24.00,55.40,5.59,"11,259,082",50.503887,4.469936
43,Cyprus,131,CY,12.20,"9,251","16,000",10.46,357.0,Nicosia,"6,626",...,43.90,1.95,"1,198,575",63.10,24.50,22.40,7.27,"800,708",35.126413,33.429859
55,Estonia,31,EE,23.10,"45,228","6,000",10.90,372.0,Tallinn,"16,590",...,22.80,4.48,"1,331,824",63.60,20.90,47.80,5.11,"916,024",58.595272,25.013607
59,Finland,18,FI,7.50,"338,145","25,000",8.60,358.0,Helsinki,"45,871",...,19.90,3.81,"5,520,314",59.10,20.80,36.60,6.59,"4,716,888",61.924110,25.748151
60,France,119,FR,52.40,"643,801","307,000",11.30,33.0,Paris,"303,276",...,6.80,3.27,"67,059,887",55.10,24.20,60.70,8.43,"54,123,364",46.227638,2.213749
64,Germany,240,DE,47.70,"357,022","180,000",9.50,49.0,Berlin,"727,973",...,12.50,4.25,"83,132,799",60.80,11.50,48.80,3.04,"64,324,835",51.165691,10.451526
66,Greece,81,GR,47.60,"131,957","146,000",8.10,30.0,Athens,"62,434",...,35.50,5.48,"10,716,322",51.80,26.20,51.90,17.24,"8,507,474",39.074208,21.824312
73,Vatican City,"2,003",NaN,NaN,0,NaN,NaN,379.0,Vatican City,NaN,...,NaN,NaN,836,NaN,NaN,NaN,NaN,NaN,41.902916,12.453389
81,Republic of Ireland,72,NaN,64.50,"70,273","9,000",12.50,353.0,Dublin,"37,711",...,15.20,3.31,"5,007,069",62.10,18.30,26.10,4.93,"3,133,123",53.412910,-8.243890
83,Italy,206,IT,43.20,"301,340","347,000",7.30,39.0,Rome,"320,411",...,22.80,3.98,"60,297,396",49.60,24.30,59.10,9.89,"42,651,966",41.871940,12.567380
93,Latvia,30,LV,31.10,"64,589","6,000",10.00,371.0,Riga,"7,004",...,41.60,3.19,"1,912,789",61.40,22.90,38.10,6.52,"1,304,943",56.879635,24.603189
99,Lithuania,43,LT,47.20,"65,300","34,000",10.00,370.0,Vilnius,"12,963",...,32.10,6.35,"2,786,844",61.60,16.90,42.60,6.35,"1,891,013",55.169438,23.881275
100,Luxembourg,242,LU,53.70,"2,586","2,000",10.30,352.0,Luxembourg City,"8,988",...,10.60,3.01,"645,397",59.30,26.50,20.40,5.36,"565,488",49.815273,6.129583
106,Malta,"1,380",MT,32.40,316,"2,000",9.20,356.0,Valletta,"1,342",...,37.10,2.86,"502,653",56.50,26.20,44.00,3.47,"475,902",35.937496,14.375416
113,Monaco,"26,337",MC,NaN,2,NaN,5.90,377.0,Monaco City,NaN,...,6.10,6.56,"38,964",NaN,NaN,NaN,NaN,"38,964",43.738418,7.424616
115,Montenegro,47,ME,19.00,"13,812","12,000",11.73,382.0,Podgorica,"2,017",...,31.80,2.76,"622,137",54.40,NaN,22.20,14.88,"417,765",42.708678,19.374390
140,Portugal,111,PT,39.50,"92,212","52,000",8.50,351.0,Lisbon,"48,742",...,27.70,5.12,"10,269,417",58.80,22.80,39.80,6.33,"6,753,579",39.399872,-8.224454
149,San Marino,566,SM,16.70,61,NaN,6.80,378.0,City of San Marino,NaN,...,18.30,6.11,"33,860",NaN,18.10,36.20,NaN,"32,969",43.942360,12.457777
157,Slovakia,114,SK,39.20,"49,035","16,000",10.60,421.0,Bratislava,"32,424",...,18.40,3.42,"5,454,073",59.50,18.70,49.70,5.56,"2,930,419",48.669026,19.699024
158,Slovenia,103,SI,30.70,"20,273","7,000",9.40,386.0,Ljubljana,"12,633",...,12.50,3.09,"2,087,946",58.40,18.60,31.00,4.20,"1,144,654",46.151241,14.995463
164,Spain,94,ES,52.60,"505,370","196,000",7.90,34.0,Madrid,"244,002",...,24.20,3.87,"47,076,781",57.50,14.20,47.00,13.96,"37,927,409",40.463667,-3.749220

In [46]:
# 7. Encuentra los países cuyas tasas de mortalidad infantil son superiores a 70.
df_total1[df_total1['infant_mortality'] > 70]

,country,density_p/km2,abbreviation,agricultural_land_,land_areakm2,armed_forces_size,birth_rate,calling_code,capital/major_city,co2-emissions,...,out_of_pocket_health_expenditure,physicians_per_thousand,population,population_labor_force_participation_,tax_revenue_,total_tax_rate,unemployment_rate,urban_population,latitud,longitud
33,Central African Republic,8,CF,8.20,"622,984","8,000",35.35,236.0,Bangui,297,...,39.60,0.06,"4,745,185",72.00,8.60,73.30,3.68,"1,982,064",6.611111,20.939444
34,Chad,13,TD,39.70,"1,284,000","35,000",42.17,235.0,N'Djamena,"1,016",...,56.40,0.04,"15,946,876",70.70,NaN,63.50,1.89,"3,712,273",15.454166,18.732207
126,Nigeria,226,NG,77.70,"923,768","215,000",37.91,234.0,Abuja,"120,369",...,72.20,0.38,"200,963,599",52.90,1.50,34.80,8.10,"102,806,948",9.081999,8.675277
155,Sierra Leone,111,SL,54.70,"71,740","9,000",33.41,232.0,Freetown,"1,093",...,38.20,0.03,"7,813,215",57.90,8.60,30.70,4.43,"3,319,366",8.460555,-11.779889
160,Somalia,25,SO,70.30,"637,657","20,000",41.75,252.0,Mogadishu,645,...,NaN,0.02,"15,442,905",47.40,0.00,NaN,11.35,"7,034,861",5.152149,46.199616