In [1]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('5-world_data_full.csv', index_col=0)
df

,country,density,abbreviation,agricultural_land,land_area,armed_forces_size,birth_rate,calling_code,capital/major_city,co2-emissions,...,out_of_pocket_health_expenditure,physicians_per_thousand,population,population_labor_force_participation,tax_revenue,total_tax_rate,unemployment_rate,urban_population,latitude,longitude
0,Afghanistan,60,AF,58.1,"652,230","323,000",32.49,93.0,Kabul,"8,672",...,78.4,0.28,"38,041,754",48.9,9.3,71.4,11.12,"9,797,273",33.93911,67.709953
1,Albania,105,AL,43.1,"28,748","9,000",11.78,355.0,Tirana,"4,536",...,56.9,1.20,"2,854,191",55.7,18.6,36.6,12.33,"1,747,593",41.153332,20.168331
2,Algeria,18,DZ,17.4,"2,381,741","317,000",24.28,213.0,Algiers,"150,006",...,28.1,1.72,"43,053,054",41.2,37.2,66.1,11.70,"31,510,100",28.033886,1.659626
3,Andorra,164,AD,40.0,468,NaN,7.20,376.0,Andorra la Vella,469,...,36.4,3.33,"77,142",NaN,NaN,NaN,NaN,"67,873",42.506285,1.521801
4,Angola,26,AO,47.5,"1,246,700","117,000",40.73,244.0,Luanda,"34,693",...,33.4,0.21,"31,825,295",77.5,9.2,49.1,6.89,"21,061,025",-11.202692,17.873887
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
190,Venezuela,32,VE,24.5,"912,050","343,000",17.88,58.0,Caracas,"164,175",...,45.8,1.92,"28,515,829",59.7,NaN,73.3,8.80,"25,162,368",6.42375,-66.58973
191,Vietnam,314,VN,39.3,"331,210","522,000",16.75,84.0,Hanoi,"192,668",...,43.5,0.82,"96,462,106",77.4,19.1,37.6,2.01,"35,332,140",14.058324,108.277199
192,Yemen,56,YE,44.6,"527,968","40,000",30.45,967.0,Sanaa,"10,609",...,81.0,0.31,"29,161,922",38.0,NaN,26.6,12.91,"10,869,523",15.552727,48.516388
193,Zambia,25,ZM,32.1,"752,618","16,000",36.19,260.0,Lusaka,"5,141",...,27.5,1.19,"17,861,030",74.6,16.2,15.6,11.43,"7,871,713",-13.133897,27.849332
194,Zimbabwe,38,ZW,41.9,"390,757","51,000",30.68,263.0,Harare,"10,983",...,25.8,0.21,"14,645,468",83.1,20.7,31.6,4.95,"4,717,305",-19.015438,29.154857

# Ejercicios groupby

In [ ]:
# 1. ¿Cuál es la densidad de población promedio por continente?

In [ ]:
# 2. ¿Cuál es la esperanza de vida promedio por idioma oficial? Agrupa los países por idioma oficial y 
# calcula la esperanza de vida promedio.

In [ ]:
# 3.¿Cuál es la tasa de mortalidad infantil promedio por moneda?

In [ ]:
# 4.¿Cuál es el salario mínimo por continente?

In [ ]:
# 5.¿Cuál es la tasa de impuestos total máxima por densidad de población por continente? Para solucionar este ejercicio puedes:
# Primero, necesitas calcular la tasa de impuestos total para cada continente. La tasa de impuestos total se encuentra en la columna "total_tax_rate".
# Luego, calcula la densidad de población para cada continente. La densidad de población se encuentra en la columna "density".
# Ahora, divide la tasa de impuestos total entre la densidad de población para obtener la tasa de impuestos total por persona por kilómetro cuadrado.
# Encuentra el país que tiene el valor más alto en esta nueva columna calculada.

In [ ]:
# 6. ¿Cuál es el porcentaje de población urbana promedio por continente?

In [ ]:
# 7. ¿Cuál es la diferencia entre el PIB promedio y el gasto en salud de bolsillo promedio por idioma oficial? Para contestar esta pregunta dabes seguir los siguientes pasos:
# Agrupa el DataFrame por idioma oficial y calcula la media del Gasto de Bolsillo en salud (out_of_pocket_health_expenditure) y del GPD.
# Calcula la diferencia entre el PIB promedio y el gasto en salud de bolsillo promedio

In [ ]:
# 8. ¿Cuál es la tasa de maternidad promedio por tasa de impuestos total? Para resolver el ejercicio deberás:
# Primero, calcula la tasa de maternidad promedio para cada continente. Puedes usar la columna "maternal_mortality_ratio" que representa la tasa de mortalidad materna.
# Calcula la tasa de impuestos total promedio para cada continente. Puedes usar la columna "total_tax_rate" que representa la tasa de impuestos total en cada continente.
# Luego, divide la tasa de maternidad promedio por la tasa de impuestos total promedio para obtener la relación entre ambas tasas.
# Encuentra el país con la tasa de maternidad más alta por punto porcentual de tasa de impuestos total

In [ ]:
# 9. Ejercicios bonus groupby:
# ¿Cuál es la tasa de natalidad máxima por área forestal por continente? Encuentra el país con la tasa de natalidad más alta por cada punto porcentual de área forestal.
# ¿Cuál es la diferencia entre la tasa de impuestos total y la tasa de desempleo promedio por continente?